Repository bringmetheaxx/TeamFour, pull requests merged in 2021-04, with the labels that each got.

#22 re-write the wireframe file
  planning/Week1-wireframe.png
  planning/backlog.md
  planning/wireframe.md
Labels: type: documentation

#27 Add project definition
  README.md
  Web capture_15-4-2021_42659_zen-carson-c10c9f.netlify.app.jpeg
  img1.jpeg
  third page.jpeg
Labels: type: documentation

#41 added consultation form
  css/styles.css
  css/utilities.css
  index.html
  styles.css
Labels: type: css, type: html

#45 html and css for the title and navbar
  contact.html
  css/styles.css
  index.html
Labels: type: css, type: html

#50 added gallery page
  css/styles.css
  gallery.html
Labels: type: css, type: html

#51 contact page
  contact.html
Labels: type: html

#54 Tatsiana pull request discription
  css/styles.css
  images/Cloud.png
  index.html
  planning/README.md
Labels: type: css, type: html

#60 updating retrospective.md
  planning/retrospective.md
Labels: type: documentation

#62 updating to make a costumer testimony
  gallery.html
Labels: type: html
